{% extends "header.html" %} {% block body %}

<!-- The following is the student_id submission field to check if he is enrolled or no -->

<div class="row">
    <div class="col-md-12 text-center">
        <h2>Please enter the student number</h2>
        <form action="enroll.enroll_function" id="form" data-bind="true">
            <input type="text" id="form_input" name="student_id">
            <input type="submit" value="Submit" id="form_submit">
        </form>
    </div>
</div>
<div id="demo"></div>
{% endblock %}
