{% extends "header.html" %} {% block body %}

<script>
    function myFunction1() {
        document.getElementById("3").innerHTML="remove your finger"; // The function returns the product of p1 and p2
    }
    function myFunction2() {
        document.getElementById("4").innerHTML="put your finger again"; // The function returns the product of p1 and p2
    }
</script>

<div class="row text-center">
    <div class="col-sm-12">
        Id : {{student_id}}
        <br> Name : {{name}}
    </div>
</div>

<div class="row">
    <div class=" col-sm-offset-4 col-sm-4 text-center">
        <div id="1">Click on the button</div>
        <div id="2">Ask the student to put his finger on the button</div>
        <div id="3"></div>
        <div id="4"></div>
        

        <a class=" text-center" href="enroll.register" id="link" data-bind="true">
            <br> scan
        </a>

    </div>
</div>

<div class="row text-center" id="finish">
    <div class="col-md-12 hi">

    </div>
</div>


{% endblock %}