{% extends "header.html" %} {% block body %}

<!-- The following is the student_id submission field to check if he is enrolled or no -->

<div class="row">
    <div class="col-md-12 text-center">
        <form action="attendance.test" id="form" data-bind="true">
            <input type="text" id="form_input" name="student_id">
            <input type="submit" value="Submit" id="form_submit">
        </form>
    </div>
</div>
<div class="row">
    <div class="col-md12 text-center">
        <h3>
            Please place your finger when it lights up after clicking on the submission button.
        </h3>
    </div>
</div>
{% endblock %}
