{% extends "header.html" %} {% block body %}

<!-- The following is the student_id submission field to check if he is enrolled or no -->

<!-- <div class="row">
    <div class="col-md-12 text-center">
        <form action="attendance.test" id="form" data-bind="true">
            <input type="text" id="form_input" name="student_id">
            <input type="submit" value="Submit" id="form_submit">
        </form>
    </div>
</div> -->
<!-- <div class="row">
    <div class="col-md12 text-center">
        <h4>
            Please place your finger <br>when it lights up after <br>clicking on the submission button.
        </h4>
        <div class="alert alert-success" role="alert">


            <h4>Thank You: Ahmed Tareq
                <br> Student Number: 15700994999
                <br> Attended: CMPE112 EXAM </h4>
        </div>
    </div>
</div> -->
<!-- <div class="row ">
        <div class="col-sm-offset-4 col-sm-4">
            <img class=" img-responsive " style="display:block;margin:auto;max-height:150px;max-height:150px" src="{{'img/finger.jpg'|staticfile}}"
                alt="finger">
        </div>
    </div> -->
<div class="row ">
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>CMPE News and announcements</th>

                </tr>
            </thead>
            <tbody>
                <tr class="danger">
                    <td>11.01.2018</td>
                    <td>Graduation project deadline is by the 12th</td>

                </tr>
                <tr class="warning">
                    <td>11.01.2018</td>
                    <td>No Cmpe243 class for Today</td>

                </tr>
                <tr class="info">
                    <td>11.01.2018</td>
                    <td>Computer Engineering Department 2017-18 Fall Semester
                        <br> Graduation Project II Presentations Date:22th of January,2018</td>

                </tr>
                <tr class="warning">
                    <td>11.01.2018</td>
                    <td>Ahmed Abdo Should
                        <br> should go to DR. Mohamed Salama.</td>

                </tr>
                <tr class="warning">
                    <td>11.01.2018</td>
                    <td>No Cmpe112 class for Today</td>

                </tr>
            </tbody>
        </table>
    </div>

</div>
<div class="row ">
    <div class="col-sm-offset-4 col-sm-4">
        <img class=" img-responsive " style="display:block;margin:auto;max-height:100px;max-height:100px" src="{{'img/finger.jpg'|staticfile}}"
            alt="finger">
    </div>
</div>
<div class="row">
    <div class="col-md12 text-center">
        <h4>
            Please place your finger <br> on the scanner to take you attendance
        </h4>
        <div class="alert alert-success" role="alert">


            <h4>Thank You: Ahmed Tareq
                <br> Student Number: 15700994999
                <br> Attended: CMPE112
            <br>Date: 15.12.2017
        </h4>
        </div>
    </div>
</div>
{% endblock %}