{% extends "header.html" %} {% block body %}


<script>
    setTimeout(function(){attendance.attendance_main() },500);
</script>

<div class="row">
    <div class="col-md12 text-center">
        <h4>
            An admin finger print is need to open attendance
            <br> Please click on the scanner to start scanning
        </h4>
        <a class=" text-center" id="clickk" href="attendance.attendance_main" id="link" data-bind="true">
            <br> scan
        </a>
    </div>
</div>
<div class="row ">
    <div class="col-sm-offset-4 col-sm-4">
        <img class=" img-responsive " style="display:block;margin:auto;max-height:100px;max-height:100px" src="{{'img/finger.jpg'|staticfile}}"
            alt="finger">
    </div>
</div>

<div id="demo"></div>

{% endblock %}